*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Comfortaa', sans-serif;
    background-color: #F3F6FD;
    font-weight: 400;
}

.app {
    display: flex;
}

.logo {

}

.panel {
    background-color: #FBFAFF;
    min-height: 100vh;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.menu__list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.menu__item {
    height: 45px;
    width: 45px;
    border-radius: 14px;
    background: #FFF;
    box-shadow: 0 8px 14px 0 rgba(62, 107, 224, 0.12);
    border: none;

    cursor: pointer;
}

.menu__item:hover,
.menu__item--active {
    background-color: #6A6AFB;
}

.menu__item--active {
    background-color: #5051F9;
}

.menu__item:hover img,
.menu__item--active img {
    filter: brightness(0) invert(1);
}

.menu__add {
    height: 45px;
    width: 45px;
    border-radius: 14px;
    border: 1px solid #CAD5FF;
    background: none;
    cursor: pointer;
}

.content {
    padding: 45px 36px 45px 40px;
    min-width: 900px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    margin: 0;
}

.progress {
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-width: 235px;
}

.progress__text {
    display: flex;
    justify-content: space-between;
}

.progress__name {
    color: #232360;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.progress__percent {
    color: #768396;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

.progress__bar {
    position: relative;
    width: 100%;
    height: 5px;
    border-radius: 4px;
    background: #E6E9ED;
}

.progress__cover-bar {
    position: absolute;
    width: 50%;
    height: 5px;
    border-radius: 4px;
    background: #5051F9;
}

.main {
    padding-top: 40px;
}

.habit {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    padding-right: 10px;
    border-radius: 10px;
    background: #FFFFFF;
}

.habit__day {
    padding: 20px 40px;
    min-width: 150px;
    color: #000000;
    background: #FBFAFF;
    border-radius: 10px 0 0 10px;
    border-right: 1px solid #E7EBFB;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.habit__comment {
    padding: 20px 25px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #23235F;
}

.habit__delete {
    padding: 2px;
    margin-left: auto;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.habit__delete:hover {
    background: #EFF2FF;
}

.habit__form {
    display: flex;
    gap: 15px;
    padding: 0 25px;
    width: 100%;
    position: relative;
}

.input {
    padding: 12px 20px;
    border-radius: 9px;
    border: 1px solid #E7EBFB;

    background: #FFF;

    color: #8899A8;

    font-family: 'Comfortaa', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex: 1;
}

.input::placeholder {
    color: #8899A8;
}
.input--icon {
    padding-left: 50px;
}

.input__icon {
    position: absolute;
    top: 10px;
    left: 45px;
}

.habit__add {
    padding: 10px 32px;
    border-radius: 9px;
    background: #EDECFE;
    border: none;

    color: #5051F9;

    font-family: 'Comfortaa', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.habit__add:hover {
    background: #DCDCDC;
}